.font-style{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.overflow{
    overflow-x: hidden;
}

.gold{
    color:rgba(165,42,42,0.8);
}

.piles{
    width: 400px;
    height: 500px;

}

.sneakers{
    height: 200px;
    width: 400px;
}
.purse{
    height: 200px;
    width: 400px;
}

.skirt{
    width: 400px;
    height: 600px;
}
.white{
    width: 500px;
    height: 600px;
}
.man{
    width: 500px;
    height: 600px;
}
.kids{
    width: 700px;
    height: 600px;
}

.whiteman{
    height: 500px;
}
.walkway{
    height: 500px;
}
.pocket{
    height: 500px;
}

.oneleg{
    height: 400px;
}
.waist{
    height: 400px;
}
.bag{
    height: 400px;
}
.cap{
    height: 300px;
}
.boy{
    height: 300px;
}
.twins{
    height: 300px;
}



.font-styles{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* NAV SECTION */
.navbar{
    background-color: black;
}

.navbar-nav .nav-link{
    font-size: 15px;
    color: white;
}



/* FOOTER SECTION */
footer {
    background: #1A1818;
    color: #ffffff;
    margin-bottom: 0;
    padding: 2px;
}
footer a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}
.footer {
    width: 1000px;
    height: 224px;
    margin: 71px 134px 0px 50px;
    display: flex;
    line-height: 20px;
    justify-content: space-between;
}
.help {
    width: 176px;
    height: 110px;
}
.space-up {
    margin-bottom: 13px;
}
footer hr {
    color: #ffffff;
}
.social {
    display: flex;
    gap: 10px;

}
.footer2 {
    line-height: 50px;
    justify-content: flex-start;
    gap: 80px;
}
.stay {
    margin-left: 72px;
}
.payment {
    margin-left: 10px;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
