.font-style{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

.overflow{
    overflow-x: hidden;
}

.gold{
    color:rgba(165,42,42,0.8);
}

.piles{
    width: 400px;
    height: 500px;

}
.sneakers{
    height: 200px;
    width: 400px;
}
.purse{
    height: 200px;
    width: 400px;
}

.skirt{
    width: 400px;
    height: 600px;
}
.white{
    width: 500px;
    height: 600px;
}
.man{
    width: 500px;
    height: 600px;
}
.kids{
    width: 700px;
    height: 600px;
}

.whiteman{
    height: 500px;
}
.walkway{
    height: 500px;
}
.pocket{
    height: 500px;
}

.oneleg{
    height: 400px;
}
.waist{
    height: 400px;
}
.bag{
    height: 400px;
}
.cap{
    height: 300px;
}
.boy{
    height: 300px;
}
.twins{
    height: 300px;
}



.font-styles{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* NAV SECTION */
.navbar{
    background-color: black;
}

.navbar-nav .nav-link{
    font-size: 15px;
    color: white;
}



/* FOOTER SECTION */
.grid {
    padding: 60px 10px;
    display: grid;
    grid-template-columns: 25% 30% 30% 1fr;
    grid-template-rows: 190px 0 150px;
    background: #000000;
    color: white;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.grid a {
    text-decoration: none;
    color: white;

} 
.grid img {
    width: 30px;
}
hr {
    grid-column: 1/5;
}
.pad {
    padding-top: 40px;
}
@media screen and (max-width:746px) {
    .grid {
       grid-template-columns: 50% 50%;
       grid-template-rows: 180px 180px;
       gap: 10px;
    }
    .about {
       margin-left: auto;
       width: 200px;
    }
    .contact {
        margin-left: auto;
        width: 200px;
    }
    .payment {
        margin-left: auto;
        width: 200px;
    }
    hr {
        grid-column: 1/3;
    }
}
@media screen and (max-width:356px) {
    .grid {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about {
        margin-left: 0;
    }
    .contact {
        margin-left: 0;
    }
    .payment {
        margin-left: 0;
    }
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
